[submodule "frameworks/p5js"]
	path = frameworks/p5js
	url = https://github.com/processing/p5.js.git
[submodule "frameworks/processing"]
	path = frameworks/processing
	url = https://github.com/processing/processing4.git
[submodule "frameworks/toxiclibs"]
	path = libraries/processing-ecosystem/toxiclibs
	url = https://github.com/postspectacular/toxiclibs.git
[submodule "frameworks/threejs"]
	path = libraries/web/threejs
	url = https://github.com/mrdoob/three.js.git
[submodule "frameworks/openframeworks"]
	path = frameworks/openframeworks
	url = https://github.com/openframeworks/openFrameworks.git
[submodule "frameworks/cinder"]
	path = frameworks/cinder
	url = https://github.com/cinder/Cinder.git
[submodule "frameworks/cables"]
	path = visual-programming/cables
	url = https://github.com/cables-gl/cables.git
[submodule "frameworks/openrndr"]
	path = frameworks/openrndr
	url = https://github.com/openrndr/openrndr.git
[submodule "frameworks/orx"]
	path = libraries/openrndr-ecosystem/orx
	url = https://github.com/openrndr/orx.git
[submodule "frameworks/tixl"]
	path = visual-programming/tixl
	url = https://github.com/tixl3d/tixl.git
[submodule "frameworks/webgpu-samples"]
	path = examples/webgpu-samples
	url = https://github.com/webgpu/webgpu-samples.git
[submodule "frameworks/nannou"]
	path = frameworks/nannou
	url = https://github.com/nannou-org/nannou.git
[submodule "frameworks/wgpu"]
	path = libraries/rust/wgpu
	url = https://github.com/gfx-rs/wgpu.git
[submodule "frameworks/mixbox"]
	path = libraries/universal/mixbox
	url = https://github.com/scrtwpns/mixbox.git
[submodule "libraries/pixijs"]
	path = libraries/web/pixijs
	url = https://github.com/pixijs/pixijs
[submodule "visual-programming/cables_ui"]
	path = visual-programming/cables_ui
	url = https://github.com/cables-gl/cables_ui.git
[submodule "libraries/babylonjs"]
	path = libraries/web/babylonjs
	url = https://github.com/BabylonJS/Babylon.js.git
